* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fffafa;
    color: #333;
    line-height: 1.6;
}


a {
    text-decoration: none;
}


ul {
    list-style: none;
}


img {
    max-width: 100%;
    display: block;
}


section {
    padding: 80px 10%;
}


/* Couleur de sélection du texte */
::selection {
    background: #f8a8c8;
    color: white;
}